*{
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');



:root{
   --font1: Verdana, Geneva, Tahoma, sans-serif;
   --font2:'Kdam Thmor Pro', sans-serif;
   --font3:'Passions Conflict', cursive;;
}

html, body{
    min-height:100vh;
    background-color:darkgray;
    font-family: var(--font1);
}

header{
    color: white;
    background:black;
    text-align: center;
}

header>h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font2);
    font-size:3em;
}

header>p{
    padding-bottom: 50px;
}

a{
    color:white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}


section{
    padding-top: 5%;
    padding-bottom: 5%;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 1.5em;
}


section.normal{
    background-color: white;
}

section.imagem{
    color: white;
    background-color: rgb(78, 74, 74);
}

section.imagem > p{
    background-color: rgb(78, 74, 74);
    width: 400px;
}

footer{
    color: white;
    background-color: black;
    text-align: center;
    padding:15px;
}